<launch>
    <arg name="env_mode" default="mixed" doc="indoor, outdoor, mixed" />
    <arg name="localization_mode" default="wheel" doc="wheel, ekf, fastlio" />
    <arg name="map_name" default="default" />
    <arg name="teb_planner" default="false" />

    # hardware
    <include file="$(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/launch/include/hardware/bringup.launch" />

    # localization
    <include file="$(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/launch/include/localization/pcd_localization.launch">
        <arg name="env_mode" value="$(arg env_mode)" />
        <arg name="localization_mode" value="$(arg localization_mode)" />
        <arg name="map_name" value="$(arg map_name)" />
    </include>

    # perception
    <include file="$(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/launch/include/perception/lidar_filter.launch" />

    # navigation
    <include file="$(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/launch/include/navigation/move_base.launch">
        <arg name="teb_planner" value="$(arg teb_planner)" />
        <arg name="map_name" value="$(arg map_name)" />
    </include>

    # visualization
    <node pkg="rviz" type="rviz" name="nav_rviz" args="-d $(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/config/rviz_nav.rviz" >
        <param name="ini_path" value="$(find hex_map_3d)/output/default/memory.json" />
    </node>

</launch>