<launch>
    # can
    <node name="xnode_comm" pkg="xpkg_comm" type="xnode_comm" respawn="false" output="screen" required="false">
        <param name="can_hub_addr" value="192.168.1.1:8000"/>
    </node>

    # vehicle
    <node name="xnode_vehicle" pkg="xpkg_vehicle" type="xnode_vehicle" output="screen" >
        <param name="ini_path" value="$(find xpkg_vehicle)/ini/device_id_list.ini"/>
        <param name="show_path" value="false"/>
        <param name="show_loc" value="false"/>
        <param name="calc_speed" value="false"/>
        <param name="mode_can_lock" value="false"/>
        <param name="pub_tf" value="true"/>
        <param name="rate_x" value="1.0"/>
        <param name="rate_y" value="1.0"/>
        <param name="rate_z" value="1.0"/>
        <param name="rate_az" value="1.0"/>
    </node>

    # mid360
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" />
    
</launch>
