<launch>
    <arg name="env_mode" default="mixed" doc="indoor, outdoor, mixed" />
    <arg name="sim" default="true" />
    <param name="/use_sim_time" value="$(arg sim)" />

    # hardware
    <include file="$(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/launch/include/hardware/static_tf.launch" />

    # mapping
    <include file="$(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/launch/include/mapping/fast_lio_sam_mapping.launch" >
        <arg name="env_mode" value="$(arg env_mode)" />
        <arg name="rviz" value="true" />
    </include>
    <node pkg="tf" type="static_transform_publisher" name="livox_frame_in_world"
          args="0.0 0.0 0.0 -0.1409744 0.1409744 -0.6929114 0.6929114 world camera_init 100" />
    <node pkg="tf" type="static_transform_publisher" name="chassis_in_body"
          args="0.0 0.0 0.0 0.1409744 -0.1409744 0.6929114 0.6929114 body chassis 100" />

</launch>