<!--#######################################-->
<!-- Copyright (c) 2024  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2024-05-27                    -->
<!--#######################################-->

<launch> 

    # preprocess
    <node name="hex_livox_preprocess" pkg="hex_livox_preprocess" type="hex_livox_preprocess" output="screen" >
        # parameter
        <rosparam file="$(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/launch/include/perception/config/livox_preprocess.yaml"/>
        # subscribe
        <remap from="/lidar" to="/livox/lidar" />
        <remap from="/imu" to="/livox/imu" />
        <remap from="/odom" to="/odom" />
        # publish
        <remap from="/raw_cloud" to="/raw_cloud" />
        <remap from="/processed_cloud" to="/processed_cloud" />
    </node>

    # free edge
    <node name="hex_free_edge" pkg="hex_free_edge" type="hex_free_edge" output="screen" >
        # parameter
        <rosparam file="$(find hex_nav_orcs_mini)/nav_orcs_mini/ROS1/launch/include/perception/config/free_edge.yaml"/>
        # subscribe
        <remap from="point_cloud" to="processed_cloud" />
        <remap from="odom" to="odom" />
        # publish
        <remap from="obstacle_scan" to="obstacle_scan" />
        <remap from="obstacle_cloud" to="obstacle_cloud" />
    </node>

</launch>